
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/

@media (max-width: 650px) /*elimina el carousel para movil*/
{
    #myCarousel
    {
        display: none;
    }
	#searcher
	{
		margin-top:3em;
	}
	
}

.barrabuscar
{
    width:100%;
	margin:0;
	margin-top:3em;
}

#imagenlogo
{
    display:block;
    margin:auto;
    margin-top:100px;
    margin-bottom: 10em;
    
}

.parkinglogin{
    margin: 0 auto;
    display: block;
    margin-top: 5em;
}

.scrollable-results
{
	width:100%;
	position: static;
	padding-right:1em;
	overflow:auto;
}

body{
	height:100%;
}