
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.

    Author     : pamaco
*/

.scrollable-results
{
	width:100%;
	position: static;
	padding-right:1em;
	overflow:auto;
}

.scrollable-items
{
	height: 700px;
    overflow-y: hidden;
    overflow-x: hidden;
	padding-left: 0;
}

ul.items
{
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

ul.items li
{
    float: left;
	background-color: #f9f9f9;
}

ul.items li:hover
{	
    background-color: #A9D0F5;
    opacity: 0.8;
}

ul.items a
{
	color: #000;
}

h2
{
	margin: 0.5em;
	margin-left: 0;
}

.form-button:hover
{
	background-color: #A9D0F5 !important;
}

form
{
	width: 100%;
	margin: 0;
	padding: 1em;
	padding-bottom: 0;
	background: #ddd;
}

.form-group
{
	margin-bottom: 0;
}

.clean-search-button
{
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}

.glyphicon-star{color:orange;}


