/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-mar-2018, 20:57:14
    Author     : pamaco
*/

@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css") print;

html, body 
{
   height: 100%;
}

a.rnav
{
        text-align: center !important;
        margin:0px !important;
        font-size: 85% !important;
}

a.vertical-line-height
{
        text-align: center !important;
        margin:0px !important;
        font-size: 85% !important;
}

a.rnav-last
{
        text-align: center !important;
        margin:0px !important;
        font-size: 85% !important;
}

.icon-bar 
{
  background-color: black;
}

.principal
{
    padding:0; 
    margin:0 auto; 
    width:95%;
    height:100%;
}

.secundario
{
    padding: 0; 
    margin: 0 auto; 
    width: 100%;
    height:80%;
}

.navbar
{
    border: 0; 
    padding: 0; 
    margin: 0 auto;
}

.navbar-brand
{
    padding:0 !important; 
    margin:0 !important; 
}

button.navbar
{
    margin-right: 0;
}

img.navbar
{
    height: 50px;
    margin: 0 auto;
    padding: 0;
}

footer
{
    float: left;
}

.container-fluid
{
    padding-left:0;
}