/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-mar-2018, 10:35:42
    Author     : sergiosanzferrero
*/

img.parking{
    width:500px;
    height:500px;   
    float:right;
    margin-right:400px;
    margin-top:200px;
    
 
}

div.container{
    width:600px;
    height:600px;
    float:left;
    margin-left:200px;
    margin-top:200px;
    
    
}






